.submitBtn {
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

button.submitBtn:disabled {
  background-color: rgba(239, 239, 239, 0.3);
  color: rgba(16, 16, 16, 0.3);
}
